{% extends 'base.html' %}
{% load static %}

{% block title %}
Range Automation System
{% endblock %}

{% block navbar %}
<a class="nav-item nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-12 half-nav my-3 px-3 py-2 text-justify">
        <h6 class="active">
            Aim:
        </h6>
        <p class="active">
            Our project Digital Range management system aims to make firing range result calculation more efficient and less strenuous.
        </p>
    </div>
    <div class="col-12 half-nav my-3 px-3 py-2 text-justify">
        <p class="active">
            The calculation method that prevails in our Bangladesh Army is time consuming and also it can't be judged as perfect result as human results can not be measured accurately. With our digital approach we calculate the results with the help of modified target that can be used more than once and also the image processing from the picture taken by the WiFi camera helps to formulate accurate results of firing. The results are kept in personal files of the person who is firing and can be accessed by only the authorized personnel of the respective unit.
            Our goal is to reduce human fatigue, gain precision of result and ensure safety and security of the storage of the compiled results. The project has been formally given by Army Headquarters but it was not successful. We aim to make the best use out of it with a vision to make the result calculation precise and accurate
        </p>
    </div>
    <div class="col-12 half-nav my-3 px-3 py-2 text-justify">
        <p class="active">
            We have total 5 group members. The leader is Maj Jannat. Other members of the group are Lt Shahriar, Lt Mahmudul , Lt Akash and Lt Riashat. We aim to make the project as user friendly as possible so that users from any sector can easily be able to use the system. Also we aim to keep the system as secured as possible as the firing records are considered as very sensitive documents in Bangladesh Army. The database will keep record of all the participants and it can be checked from the respective units through the permitted and conserned personal. We have tried to keep the system as flawless as possible.
        </p>
    </div>

    <div class="col-12 half-nav my-3 px-3 py-2 text-justify">
        <p class="active">
            We have total 5 group members. The leader is Maj Jannat. Other members of the group are Lt Shahriar, Lt Mahmudul , Lt Akash and Lt Riashat. We aim to make the project as user friendly as possible so that users from any sector can easily be able to use the system. Also we aim to keep the system as secured as possible as the firing records are considered as very sensitive documents in Bangladesh Army. The database will keep record of all the participants and it can be checked from the respective units through the permitted and conserned personal. We have tried to keep the system as flawless as possible.
        </p>
    </div>
</div>
{% endblock %}


{% block footer %}
<a class="nav-item nav-link p-3 active" href="{% url 'aboutus' %}">About Us</a>
{% endblock %}