{% extends 'base.html' %}
{% load static %}

{% block title %}
Compile Result
{% endblock %}

{% block navbar %}
<a class="nav-item nav-link" href="{% url 'adddetail' %}">Manage Detail</a>
<a class="nav-item nav-link active" href="{% url 'compile' %}">Compile Result</a>
<a class="nav-item nav-link" href="{% url 'logoutUser' %}">Log Out</a>
{% endblock %}

{% block content %}
{{ form.media.css }}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
{{ form.media.js }}
<div class="container">
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-md-5 col-xs-12">
            
            <a href="{% url 'adddetail' %}" class="block-link">
            <div class="h5 block-link text-center p-4 mb-3 not-active">
                Manage Details
            </div>
            </a>
            <div class="h5 login-card text-center p-4 mb-3">
                Compile Result
            </div>
        </div>
        <div class="col-md-6 col-xs-12">
            {% if messages %}
            <div class="p-3 message">
                {% for message in messages %}
                <p class="text-center idp-in-link h6">
                    {{message}}
                </p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="login-card p-5">
            <form action="" method='POST'>
                {% csrf_token %}
                <div class="row per-input">
                {% for f in form %}
                <div class="row per-input">
                <div class="col-5 pl-4 d-flex align-items-center"><label for="" class="">{{f.label}}</label></div>
                <div class="col-7 h6">{{f}}</div>
                </div>
                {% endfor %}
                <div class="col-12 d-flex justify-content-center mt-4">
                    <div>
                        <button type="submit" class="idp-btn">Take Image and Compile</button>
                    </div>
                </div>
            </form>
            
        </div>
        <br>
        <!-- <div>
            <a href="{% url 'tgtimg' %}" class="block-link">
                <div class="h5 block-link text-center p-4 mb-3 not-active">
                    Take Target Image
                </div>
            </a>
        </div> -->
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block footer %}
<!-- <a class="nav-item nav-link" href="#">Help</a> -->
{% endblock %}