{% extends 'base.html' %}
{% load static %}


{% block title %}
Range Automation System
{% endblock %}

{% block navbar %}
<a class="nav-item nav-link active" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
<a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
{% endblock %}

{% block content %}
<div class="container whole-home">
    <div class="row d-flex justify-content-around align-item-center">
        <div class="col-xs-9 col-sm-12 col-lg-7 home-image mt-5">
            <!-- <img src="{% static 'image/home.jpg' %}" class="img-fluid mt-4" alt=""> -->
            <div class="over-image my-2 d-flex justify-content-center align-items-center">
                <div class="text-center">
                    <h1>AN EASIER <br>APPROACH TOWARDS<br> FIRING</h1>
                </div>
            </div>
        </div>
        <div class="col-xs-9 col-sm-12 col-lg-4 mt-5 side-tab p-2 d-flex justify-content-center align-items-center">
            <div class="text-center">
                <p class="mx-5 lead">The concept of DIGITAL RANGE MANAGEMENT SYSTEM is to show results of firing and storing of individual firers results in his profile. It features image processing after taking picture of target and processing of results like grouping, hit target and MPI. Also storing the results in profile of the firer</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<a class="nav-item nav-link p-3" href="{% url 'aboutus' %}">About Us</a>
{% endblock %}