{% extends 'base.html' %}
{% load static %}

{% block title %}
Range Automation System
{% endblock %}

{% block navbar %}
<a class="nav-item nav-link active" href="{% url 'inputfirer' %}">Input</a>
<a class="nav-item nav-link" href="{% url 'showmember' %}">Members</a>
<a class="nav-item nav-link" href="#">Firing Result</a>
<a class="nav-item nav-link" href="{% url 'logoutUser' %}">Log Out</a>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row mt-4 d-flex justify-content-center">
        <div class="col-md-5 col-xs-12">
            <div class="h5 login-card text-center p-4 mb-3">
                Input Credentials
            </div>
            <a href="{% url 'showmember' %}" class="block-link">
            <div class="h5 block-link text-center p-4 mb-3 not-active">
                Show Members
            </div>
            </a>
            <a href="#" class="block-link">
            <div class="h5 block-link text-center p-4 mb-3 not-active">
                Firing Result 
            </div>
            </a>
        </div>
        <div class="col-md-6 col-xs-12">
            {% if messages %}
            <div class="p-3 message">
                {% for message in messages %}
                <p class="text-center idp-in-link h6">
                    {{message}}
                </p>
                {% endfor %}
            </div>
            {% endif %}
            <div class="login-card p-5">
            <form action="" method='POST'>
                {% csrf_token %}
                {% for f in form %}
                <div class="row per-input">
                <div class="col-4 pl-4 d-flex align-items-center"><label for="" class="">{{f.label}}</label></div>
                <div class="col-8 h6">{{f}}</div>
                </div>
                {% endfor %}
                <div class="col-12 d-flex justify-content-center mt-4">
                    <div>
                        <button type="submit" class="idp-btn">Create</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<a class="nav-item nav-link" href="#">Help</a>
{% endblock %}