{% extends 'base.html' %}
{% load static %}

{% block title %}
Range Automation System
{% endblock %}

{% block navbar %}

{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center full">
    <div class="row">
    <div class="col-12">
    <p class="display-1 text-center">405</p>
    </div>
    <div class="col-12">
    <p class="h1 text-center">Not Allowed</p>
    </div>
    <div class="col-12 d-flex justify-content-center">
    <a class="nav-item nav-link" href="{% url 'logoutUser' %}">Go Back</a>
    </div>
</div>
</div>
{% endblock %}