{% extends 'base.html' %}
{% load static %}

{% block title %}
Compile Result
{% endblock %}

{% block navbar %}
<a class="nav-item nav-link active" href="{% url 'adddetail' %}">Add Detail</a>
<a class="nav-item nav-link" href="{% url 'compile' %}">Compile Result</a>
<a class="nav-item nav-link" href="{% url 'logoutUser' %}">Log Out</a>
{% endblock %}

{% block content %}

<div class="container">
    <div class="jumbotron text-center h5">
        Today's All Details
    </div>
    <table class="table table-bordered table-sm bg-light">
        <thead class='text-center'>
          <tr>
            <th scope="col">Date</th>
            <th scope="col">Number</th>
            <th scope="col">Target 1</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for d in detail %}
          <tr>
            <th scope="row" class='text-center'>{{d.date}}</th>
            <td class='text-center'>{{d.number}}</td>
            <td class=''>{{d.target_1}}</td>
            <td class='text-center'><a href="{% url 'updatedetail' d.id %}" class="btn btn-sm btn-primary">Update</a></td>
            <td class='text-center'><a href="{% url 'deletedetail' d.id %}" class="btn btn-sm btn-danger">Delete</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}

{% block footer %}
<!-- <a class="nav-item nav-link" href="#">Help</a> -->
{% endblock %}