{% extends 'base.html' %}
{% load static %}

{% block title %}
Compile Result
{% endblock %}

{% block navbar %}
<a class="nav-item nav-link" href="{% url 'adddetail' %}">Add Detail</a>
<a class="nav-item nav-link active" href="{% url 'compile' %}">Compile Result</a>
<a class="nav-item nav-link" href="{% url 'logoutUser' %}">Log Out</a>
{% endblock %}

{% block content %}
<div class="container">
    
    <img src="{{pic}}" alt="">
</div>
{% endblock %}

{% block footer %}
<a class="nav-item nav-link" href="#">Help</a>
{% endblock %}